<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Les projets</h1>
    <p class="lead text-muted">Découvrez tous les projets créés par nos associations partenaires.</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="card">
        <img src="./assets/images/PICT0032_3_2.JPG" height="200px" width="auto" alt="Card image cap">
        <h2>Hamada</h2>
        <p class="card-text">Hamada aide à la scolarisation des enfants du sud marocain par l’apport de fournitures scolaires, vêtements, cartables, livres scolaires.</p>
      </div>
      <div class="card">
        <img src="./assets/images/090722131936.jpg" height="200px" width="auto" alt="Card image cap">
        <h2>Un abri pour tous</h2>
        <p class="card-text">Aider à la construction d'abris pour les populations autochtones d'Afrique centrale.</p>
      </div>
      <div class="card">
        <img src="./assets/images/770392-pour-oxfam-principal-defi-fournir.jpg" height="200px" width="auto" alt="Card image cap">
        <h2>Nourrire les camerounais</h2>
        <p class="card-text">Apporter l'eau potable et de la nouriturre de manière viable et durable à des enfants camerounais.</p>
      </div>

      <div class="card">
        <img src="./assets/images/Banka.jpg" height="200px" width="auto" alt="Card image cap">
        <h2>Haut Nkam Nshu Shu:</h2>
        <p class="card-text">Restaurer un réseau d'eau construit il y a 50 ans pour redonner un accès à l'eau potable aux habitants de Banka.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" height="200px" width="auto" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" height="200px" width="auto" alt="Card image cap">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

  </div>
</div>
