
<div class="content w3-animate-bottom">
  <div class="container-fluid">
    <h1>
      Modifier son mot de passe
      <a href="/my-profile" class="btn">
        <i class="fa fa-chevron-left"></i>
         Retour
      </a>
    </h1>
    <hr />
    <div class="container-fluid">
      <form novalidate #pwdForm="ngForm">
        <h2>
          Ancien mot de passe
        </h2>
        <div class=
          "w3-padding w3-border
          w3-hover-border-orange w3-round-xlarge
          w3-animate-bottom">
          <div [ngClass]="{
            'form-group row': true,
            'has-danger': !oldpwd.valid && !oldpwd.pristine,
            'has-success' : oldpwd.valid
          }">
            <div class="col-1"></div>
            <label for="oldpassword" class="col-2 col-form-label">
              Ancien mot de passe
            </label>
            <div class="col-8">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-fw fa-lock"></i>
                </span>
                <input name="oldpassword"
                  [ngClass]="{
                    'form-control': true,
                    'form-control-danger': !oldpwd.valid && !oldpwd.pristine,
                    'form-control-success' : oldpwd.valid
                  }"
                  [(ngModel)]="oldpassword" #oldpwd="ngModel" type="password"
                  placeholder="Mot de passe" id="oldpassword" required>
              </div>
            </div>
          </div>
        </div>
        <h2>
          Nouveau mot de passe
        </h2>
        <div class=
          "w3-padding w3-border
          w3-hover-border-orange w3-round-xlarge
          w3-animate-bottom">
          <div [ngClass]="{
            'form-group row': true,
            'has-danger': !newpwd.valid && !newpwd.pristine,
            'has-success' : newpwd.valid
          }">
            <div class="col-1"></div>
            <label for="newpassword" class="col-2 col-form-label">
              Nouveau mot de passe
            </label>
            <div class="col-8">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-fw fa-lock"></i>
                </span>
                <input pattern="^[a-zA-Z0-9\-\_\.\* ]{8,16}$" name="newpassword"
                  [ngClass]="{
                    'form-control': true,
                    'form-control-danger': !newpwd.valid && !newpwd.pristine,
                    'form-control-success' : newpwd.valid
                  }"
                  [(ngModel)]="newpassword" #newpwd="ngModel" type="password"
                  placeholder="Mot de passe" id="newpassword" required>
              </div>
              <div *ngIf="!newpwd.valid && !newpwd.pristine"
                class="form-control-feedback">
                Mot de passe invalide
              </div>
              <small id="newpasswordHelp" class="form-text text-muted">
                8-16 caractères.
              </small>
            </div>
          </div>
        </div>
        <br />
        <div *ngIf="!pwdForm.valid" class="form-group has-danger">
          <div class="form-control-feedback">
            Formulaire invalide.
          </div>
        </div>
        <div class="form-group row center">
          <button (click)="onSubmit()" [disabled]="!pwdForm.valid" type="submit" class="btn btn-primary full-width" id="submit"><i class="fa fa-edit"></i> Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>
